# Database
DB_SERVER=localhost
DB_USER=
DB_PASS=
DB_NAME=

# Email SMTP
SMTP_HOST=
SMTP_AUTH=true
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=ssl
SMTP_PORT=465
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Southern-Fried Gaming Expo
